.mediaViewInfo {
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Landing_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Landing_Page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-show-navigation-controls: true;
	--web-enable-deep-linking: true;
}
#SideBar {
	fill: rgba(22,22,22,1);
}
.SideBar {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 1080px;
	left: 1810px;
	top: -7px;
}
#PloaieDrop {
	opacity: 0.93;
	fill: transparent;
	stroke: rgba(255,119,0,1);
	stroke-width: 50px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.PloaieDrop {
	mix-blend-mode: exclusion;
	display: none;
	width: 671px;
	height: 635px;
	position: fixed;
	overflow: visible;
	transform: matrix(1,0,0,1,569.6924,220.1203) rotate(45deg);
	transform-origin: center;
}
#droplet_l {
	fill: url(#droplet_l);
}
.droplet_l {
	overflow: visible;
	position: absolute;
	width: 636.237px;
	height: 879.741px;
	left: 586.429px;
	top: 67px;
	transform: matrix(1,0,0,1,0,0);
}
#Home {
	left: 1321px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Trainer {
	left: 1556px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(252,248,248,1);
}
#Services {
	left: 1430px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(252,248,248,1);
}
#Contact {
	left: 1670px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(252,248,248,1);
}
#MenuBar {
	fill: rgba(255,128,0,1);
}
.MenuBar {
	position: absolute;
	overflow: visible;
	width: 114px;
	height: 95px;
	left: 1810px;
	top: 0px;
}
#main_page_woman {
	position: absolute;
	width: 786px;
	height: 1178px;
	left: 512px;
	top: -179px;
	overflow: visible;
}
#PLOAIE_main_Theme {
	left: 197px;
	top: 173px;
	position: absolute;
	overflow: visible;
	width: 1528px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI Historic;
	font-style: normal;
	font-weight: normal;
	font-size: 477px;
	color: rgba(252,248,248,1);
}
#twitter {
	fill: rgba(68,68,68,1);
}
.twitter {
	overflow: visible;
	position: absolute;
	width: 32.001px;
	height: 26.005px;
	left: 1849px;
	top: 584px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook2 {
	fill: rgba(68,68,68,1);
}
.facebook2 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1846px;
	top: 655px;
	transform: matrix(1,0,0,1,0,0);
}
#play {
	fill: rgba(68,68,68,1);
}
.play {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 24px;
	left: 1846px;
	top: 732px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram {
	fill: rgba(68,68,68,1);
}
.instagram {
	overflow: visible;
	position: absolute;
	width: 32.001px;
	height: 32.001px;
	left: 1846px;
	top: 801px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 50.272px;
	height: 39.347px;
	left: 1840px;
	top: 28px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1445 {
	fill: rgba(68,68,68,1);
}
.Path_1445 {
	overflow: visible;
	position: absolute;
	width: 30.375px;
	height: 30.375px;
	left: 1852px;
	top: 233px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 6px;
	left: 1328px;
	top: 61px;
}
#Ellipse_1 {
	fill: rgba(68,68,68,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 13px;
	left: 45px;
	top: 502px;
}
#Ellipse_2 {
	fill: rgba(164,164,164,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 19px;
	left: 42px;
	top: 531px;
}
#Ellipse_3 {
	fill: rgba(68,68,68,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 13px;
	left: 45px;
	top: 566px;
}
#Rectangle_2 {
	fill: rgba(68,68,68,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 215px;
	left: 1867px;
	top: 324px;
}
#droplet_ba {
	fill: url(#droplet_ba);
}
.droplet_ba {
	overflow: visible;
	position: absolute;
	width: 63.624px;
	height: 82px;
	left: 19.429px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
